// File Name: _layout.scss
// Description: global layout styles
// Used by: app.scss
// Dependencies: 
// ------------------------------------------------------------

// --------------------------------
  // Variables
// ---------------------------------
$full-width: 100%;
$sidebar-width: 20%;

$max-title-height: 25%;
$max-tile-width: 20%;
$min-tile-width: 20%;


// --------------------------------
  // Project Structure
// ---------------------------------
.Layout {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */

  &__header {
    flex: none; /* 2 */
    flex-shrink: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 100%;
    min-height: 5%;
    height: 10%;
  }

  // --------------------------------
    // Sidebar/SingleView/MultiView
  // ---------------------------------
  &__body {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto; /* 2 */
  }

  &__sidebar {
    flex: 0 0 $sidebar-width;
    min-width: $sidebar-width;
    order: -1;
    padding-left: 2%;
    padding-top: 3%;
  }

  // --------------------------------
    // Flex Grid > MultiView
  // ---------------------------------
  &__multi-content {
    flex: 2 0 80%;
    height: 100%;
    width: 80%;
    order: 1;
    padding: 2em;
    overflow-x: scroll;

    // Tile Grid (For Child Components)
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 auto;
  }

  &__tile {
    display: inline-flex;
    flex: 1 0 auto;
    margin-bottom: 0;
    max-height: 300px;
    max-width: 50%;
    min-width: 200px;
    min-height: 250px;
    width: 20%;    //        Chrome bug 
    height: 175px; // No % on flex itms TODO Fix for flex
  
  }
    
  // --------------------------------
    // Flex Grid > SingleView/Detail
  // ---------------------------------
  &__single-content {
    min-height: 100%;
    width: 80%;
    max-width: 80%;
    padding: 2em;
    
    // Flex for button
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    // Big/single Tile
  &__single-view-tile {
    display: absolute;
    // width: 80%;
    // height: 50%;
    width: 750px; // abs
    height: 675px;
    margin: 0 auto;
    margin-bottom: 10%;
    
    // Tile Grid
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  // Big Tile Name
  &__single-view-tile--name {
    margin: 0;
    width: 100%;
    align-self: flex-end;

    h3 {
      margin: 0;
    }
  }

    // Small tile container
  &__single-view__tile-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    height: 25%;
  }

    // Small tiles 
  &__single-view-small-tile {
    width: 20%;
    min-width: 15%;
  
    // Tile Grid
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  &__single-view-tile__name {
    margin: 0;
    width: 100%;
    height: 15%;

    // Tile 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h3 {
      margin: 0 !important;
    }
  }
  
  .single-view__button {
    align-self: center;
    margin: 3rem;
  }
}

// -------------------------------------
  // Project Structure (Mobile Devices)
// -------------------------------------
@include sm {
  .Layout {
    
    &__content {
      flex-flow: column wrap;
      width: $full-width;
    }
    
    &__tile {
      width: $full-width;
      max-height: $max-title-height;
    }
  }
};
