$black: #333;
$white: #FFF;

button {
  background: $white;
  border-radius: .25rem;
  border: 0.075rem solid $black;
  
  cursor: pointer;
  padding: 0.7rem 1rem;

   &:disabled {
    opacity: 0.3;
  }

  &:hover {
    background: $white;
  }
}

@include min-lg {
    padding: 1rem 1.15rem;
};