// File Name: _sidebar.scss
// Description: global sidebar styles
// Used by: app.scss
// Dependencies: 
// ------------------------------------------------------------

// --------------------------------
  // Variables
// ---------------------------------
$sidebar-color: #D6D8D8;
$black: #333;


// --------------------------------
  // Sidebar
// ---------------------------------
.sidebar {
  background-color: $sidebar-color;
  box-shadow: 0 0 1px rgba(51,51,51,.75);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

  &__nav-link {
    display: flex;
    flex-direction: column;
    padding: .5em;

    &:first-of-type {
      margin-top: 2em;
    }
  }
}


@include sm {
  .sidebar {
    display: none;
  }
}

@include md {
  .sidebar {
    display: none;
  }
}
