// -------------------------------------------------------------
  // Font
// -------------------------------------------------------------
 @import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
// -------------------------------------------------------------
  // Variables
// -------------------------------------------------------------
$font-family-serif: 'Source Serif Pro', serif;

// -------------------------------------------------------------
  // Font Size
// -------------------------------------------------------------
html {
  color: $black;
  font-family: $font-family-serif;
  font-size: 16px;

  @include min-md {
    font-size: 18px;
  }

  @include min-lg {
    font-size: 20px;
  }

  @include min-xl {
    font-size: 26px;
  }
}

h1,
h2,
h3 {
  margin: 2rem 0;
}

h1 {
  @include sm {
    font-size: 2.3353em;
    line-height: 1.3;
  }
}

h2 {
  font-size: 2.3353em;
  @include sm {
    font-size: 1.769em;
  }
}

h3 {
  font-size: 1.769em;
  @include sm {
    font-size: 1.33em;
  }
}




