// File Name: _multiview.scss
// Description: Multiview View Styles
// Used by: app.scss for Multiview/index.jsx
// ------------------------------------------------------------

// // --------------------------------
//   // Variables
// // ---------------------------------

$border-color: #D6D8D8;
$font-color:#555656;
$white: #fff;


.tile {
  border: 0.0025rem solid $border-color;
  box-shadow: 0 .35px .5px .5px rgba(51,51,51,.25);
  border-radius: .35rem;
  position: relative;
  margin: 1rem;

  &:hover {
    box-shadow: 0 .2px .5px .5px rgba(51,51,51,.45);
    cursor: pointer;
  }

  &__name {
    margin: 0;
    padding: .5rem 1.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: $white;
    border-top: 0.0025rem solid $border-color;

    h3 {
      color: $font-color;
      font-weight: lighter;
      margin: .25rem;
    }
  }
}

@include sm {
  .tile {

    &__name {

      h3 {
        font-weight: 100;
      }
    }
  }
}